.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #f1f3f4;
}

.container {
  display: grid;
  grid-template-rows: 0.4fr 0.6fr;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-areas:
    "weather calendar"
    "todos calendar";
  flex: 1;
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;

  @media (max-width: 1000px) {
    padding: 0 1rem;
  }
}

.weatherContainer {
  grid-area: weather;
}

.todosContainer {
  grid-area: todos;
}

.calendarContainer {
  grid-area: calendar;
}
