@import "../../styles/mixins/box-shadow";

.wrapper {
  @include box-shadow(2);

  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background: #0277bd;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  color: #fff;

  @media (max-width: 1000px) {
    padding: 0 1rem;
  }
}
